<h2 mat-dialog-title>Edit list title</h2>

<mat-dialog-content>
    <form [formGroup]="listForm">
        <div class="form-content">
            <mat-form-field appearance="standard">
                <input matInput
                    type="text"
                    placeholder="List title"
                    formControlName="title"
                    required>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-button-group">
    <button [disabled]="!listForm.valid" class="mat-raised-button mat-primary"(click)="save()">Save</button>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
